<!DOCTYPE html>
<html>
<head>
	<title>Byte 2</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="/">Home</a></h4>
			<h4 class="header item"><a href="#">About</a></h4>
			<h4 class="header item"><a href="quality">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		<h2>About the dataset</h2>
		<h3>Overview</h3>
		<p>The data set informs us of the current refugee crisis. This analysis builds on my <a href="http://snyk-byte-1.appspot.com/" target="_blank">Byte 1</a> visualization.</p>

		<h3>Data Source</h3>
		<p>The data is obtained from the <a href="http://www.unhcr.org/pages/49c3646c4d6.html" target="_blank">UNHCR website</a>. Download the UNHCR mid-year trends spreadsheet if interested. <br/>If not, head over to a subset of the data in my Google Sheets. **insert link**</p>

		<h3>For Byte 2</h3>
		<p>I decided to use only the primary asylum destination data for the <strong>responsive table</strong>. It can be found in my fusion table here. ***insert link****.<br/>For the pyPlot, I plotted a bar chart of the <strong>countries taking in the most number of refugees.</strong></p>
	</div>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</body>
</html>