<!DOCTYPE html>
<html>
<head>
	<title>Byte 2</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="#">Home</a></h4>
			<h4 class="header item"><a href="about">About</a></h4>
			<h4 class="header item"><a href="quality">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		{% for column in allheaders %}
		<button id="{{ column }}" class="ui basic button" onclick="updateTable('{{column}}')">{{ column }}</button>
		{% endfor %}
		<table id="data" class="ui striped table">
			<thead>
				<tr id="cols">
				</tr>
			</thead>
			<tbody id="rows">
			</tbody>
		</table>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
	<script type="text/javascript">
		function updateTable(param) {
			button = document.getElementById(param);
			if (button.className.includes("active")) {
				button.className = "ui basic button";
			} else {
				button.className = "ui basic button active";
			}
			cols = [];
			buttons = document.getElementsByTagName('button');
			for(var i = 0; i < buttons.length; i++) {
				id = buttons[i].id;
				if(id != null) {
					if(buttons[i].className.includes("active")) {
							cols.push(id);
					}
				}
			}

			console.log('Columns requested from table');
			console.log(cols);

			//ajax query
			$.ajax({
				url: '/_update_table',
				dataType: 'json',
				contentType: 'application/json',
				data: JSON.stringify({'cols' : cols}),
				type: 'POST',
				success: function (res, status) {
					console.log("successrunning");
			 		// On Success
			 		var cols = res["headers"];
			 		var rows = res["content"];
	               // get the table, columns and rows
	               table = document.getElementById("data");
	               headers = document.getElementById("cols");
	               body = document.getElementById("rows");

	               // delete current contents
	               headers.innerHTML='';
	               body.innerHTML = '';

	               for (col in cols) {
	               	cell = document.createElement("th");
	               	cell.innerHTML = cols[col];
	               	headers.appendChild(cell);
	               }

	               for (row in rows) {
	               	tr = document.createElement("tr");
	               	for (item in rows[row]) {
	               		td = document.createElement("td");
	               		td.innerHTML = rows[row][item];
	               		tr.appendChild(td);
	               	}
	               	body.appendChild(tr);
	               }
	           }
   		});
}
</script>
</body>
</html>