<!DOCTYPE html>
<html>
<head>
	<title>Byte 2</title>

	<!-- Semantic Framework -->
	<link rel="stylesheet" rel="text/styleshet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>
	<div class="ui menu inverted">
		<div class="ui container">
			<h4 class="header item"><a href="/">Home</a></h4>
			<h4 class="header item"><a href="about">About</a></h4>
			<h4 class="header item"><a href="#">Quality</a></h4>	
		</div>
	</div>
	<div class="ui container">
		<h3>Describe an expectation you had about the data that did not match the actual data. What was your expectation? How did things turn out? Illustrate your point with a graph or a chart.</h3>
		<p>***Insert Image and Inference</p>

		<h3>Describe an issue with the completeness, coherence, or correctness of the data of the data. Be concrete about what type of problem you are talking about, how much data is involved and what is affected (use of charts and graphs encouraged). What concerns does this raise?</h3>
		<p>***Insert inference****</p>
	</div>
	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
</body>
</html>